COMPASS_A2A_HOST=127.0.0.1
COMPASS_A2A_PORT=8000
COMPASS_A2A_PUBLIC_URL=http://127.0.0.1:8000
COMPASS_A2A_AUTH_USERNAME=compass
COMPASS_A2A_AUTH_PASSWORD=compass
COMPASS_BASE_URL=http://127.0.0.1:8080
